# ============ GRADLE ============ #
.gradle/
build/
local.properties
gradle.properties
settings.gradle.kts
output.json

# ============ IDE FILES ============ #
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# ============ ANDROID STUDIO GENERATED ============ #
captures/
.externalNativeBuild/
.cxx/
*.apk
*.hprof

# ============ LOGS ============ #
*.log

# ============ SECRETS ============ #
*.jks
*.keystore
google-services.json

# ============ DEVELOPER CONFIG (custom) ============ #
*.config.xml
*.config.json
*.env
TiendaAppAA.git/
